* {
    font-family: "Lato", sans-serif;
}

html {
    scroll-behavior: smooth;
}

#go-up {
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: none;
    color: #A5A68F;
}


body {
    background-color: #F4EEED;
    margin: 0;
   }

   #Home {
    background-color: #F2DBD5;
    height: 600px;
    margin-bottom: 70px;
   }

   .container {
    width: 100%;
   }

   .logo-container {
    margin-right: 5px;
    float: inline-start;
    margin-top: 10px;
    margin-left: 10px;
   }

   .flex-container.nav.bar {
    display: flex;
    padding-top: 20px;
    justify-content: flex-end;
    margin-right: 80px;
    margin-bottom: 100px;
   }

   .button {
    border: none;
    background-color:#F2DBD5;
    cursor: pointer;
    color: #D9B2A9;
    font-size: larger;
    margin-left: 80px;
   }

   .grid {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 1000px;
    height: 300px;
   }

   .grid-container {
    display: flex;
    text-align: center;
    justify-content: center;
   }

   h1, h5, p, li {
    color: #A5A68F;
   }

   h1 {
    font-size: 60px;
    font-weight: 300;
    margin-bottom: 0px;
   }

   h5 {
    font-weight: 100;
    font-size: 30px;
    margin-top: 0px;
   }

   .profile {
    grid-row: span 2;
    width: 400px;
    border-radius: 10px;
   }

   h2, .title {
    color: #D9B2A9;
   }

   h2 {
    padding-bottom: 20px;
    text-align: center;
   }

   .flex-container.about-me {
    display: flex;
    justify-content: space-around;
   }

   .text {
    text-align: left;
    font-size: 24px;
    font-weight: 300;
    width: 450px;
    margin: 0;
   }

   ul {
    list-style-type: disc;
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-weight: 300;
    padding-bottom: 40px;
   }

   .container.flexbox {
    display: flex;
    justify-content: space-around;
   }

   #My-Skills {
    margin-bottom: 70px;
   }

   .section-description {
    text-align: center;
   }

   .card {
    border: solid 1px #A5A68F;
    padding: 10px;
   }

   .work-gallery, .photoshop-gallery {
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: center;
   }

   .column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
   }

   .project {
    width: 100%;
    object-fit: cover;
   }

   .card-description {
    margin-top: 10px;
    text-align: center;
   }

   a {
    text-decoration: none;
    color: #D9B2A9;
    font-size: larger;
   }

footer {
    background-color: #F2DBD5;
    height: 100px;
    text-align: center;
    padding-top: 50px;
}

.copyright {
    padding-top: 20px;
}

@media only screen and (max-width: 600px) {

       .container {
        width: 100%;
       }

       #Home {
        height: 500px;
    }

       h1 {
        font-size: 45px;
       }
    
       .grid {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        height: 200px;
       }
    
       .profile {
        width: 200px;
        border-radius: 10px;
       }
    
       .flex-container.about-me {
        display: flex;
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        margin: 0px 20px 20px 20px;
       }
    
       .text {
        text-align:justify;
        text-wrap: wrap;
        font-size: 20px;
        font-weight: 300;
        width: 90%;
        margin: 10px;
       }

       .lists li, .lists {
        text-align: center;
       }

       .lists li {
        list-style: none;
       }

       .container.flexbox {
        gap: 30px;
        flex-direction: column;
        text-align: center;
       }

       .container.flexbox li {
        list-style: none;
        text-align: center;
       }

       .photoshop-gallery {
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
       }
    
       .work-gallery {
        display: flex;
        flex-direction: column;
       } 
    
       .column {
        width: 300px;
       }
    
    footer {
        width: 100%;
    }
    
    .copyright {
        margin-bottom: 20px;
    }

    .button {
        display: inline-flex;
        flex-direction: row;
        margin: 0px 10px 0px 10px;
    }
}

@media (min-width: 601px) {

    .container {
     width: 100%;
    }

    #Home {
        height: 500px;
    }

    h1 {
     font-size: 45px;
    }
 
    .grid {
     margin-top: 20px;
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     gap: 20px;
     height: 200px;
    }
 
    .profile {
     width: 200px;
     border-radius: 10px;
    }

    h2 {
     padding-bottom: 20px;
     }
 
    .flex-container.about-me {
     display: flex;
     gap: 20px;
     flex-direction: column;
     justify-content: center;
     margin: 0px 20px 20px 20px;
    }
 
    .text {
     text-align:justify;
     text-wrap: wrap;
     font-size: 20px;
     font-weight: 300;
     width: 90%;
     margin: 10px;
    }

    .lists li, .lists {
     text-align: center;
    }

    .lists li {
     list-style: none;
    }

    .container.flexbox {
     gap: 30px;
     flex-direction: column;
     text-align: center;
    }

    .container.flexbox li {
     list-style: none;
     text-align: center;
    }

    .photoshop-gallery {
     flex-direction: column;
     align-items: center;
     margin-bottom: 50px;
    }
 
    .work-gallery {
     display: flex;
     flex-direction: column;
    } 
 
    .column {
     width: 300px;
    }
 
 footer {
     width: 100%;
 }
 
 .copyright {
     margin-bottom: 20px;
 }

 .button {
     display: inline-flex;
     flex-direction: row;
     margin: 0px 10px 0px 10px;
 }
}

@media (min-width: 768px) {

    .container {
     width: 100%;
    }

    #Home {
        height: 600px;
    }

    h1 {
     font-size: 45px;
    }
 
    .grid {
        display: grid;
        gap: 50px;
        grid-template-columns: 1fr 0.5fr;
        grid-template-rows: 1fr 1fr;
        height: 300px;
       }
 
    .profile {
     width: 300px;
     border-radius: 10px;
    }

    h2 {
     padding-bottom: 20px;
     }
 
    .flex-container.about-me {
     display: flex;
     gap: 100px;
     flex-direction: row;
     justify-content: center;
     margin: 0px 20px 50px 20px;
    }
 
    .text {
     text-align: left;
     font-size: 20px;
     font-weight: 300;
     width: 350px;
    }

    .lists li, .lists {
     text-align: left;
    }

    .lists li {
     list-style: disc;
    }

    .container.flexbox {
     gap: 60px;
     flex-direction: row;
     text-align: left;
    }

    .container.flexbox li {
     list-style: disc;
     text-align: left;
    }

    .photoshop-gallery {
     flex-direction: row;
     align-items: center;
     gap: 30px;
     margin-bottom: 50px;
    }
 
    .work-gallery {
     display: flex;
     flex-direction: row;
    } 
 
    .column {
     width: 250px;
    }
 
 footer {
     width: 100%;
 }
 
 .copyright {
     margin-bottom: 20px;
 }

 .button {
     display: inline-flex;
     flex-direction: row;
     margin: 0px 10px 0px 10px;
 }
}

@media (min-width: 992px) {

    .container {
     width: 100%;
    }

    h1 {
     font-size: 45px;
    }
 
    .grid {
        display: grid;
        gap: 50px;
        grid-template-columns: 1fr 0.5fr;
        grid-template-rows: 1fr 1fr;
        height: 300px;
       }
 
    .profile {
     width: 300px;
     border-radius: 10px;
    }

    h2 {
     padding-bottom: 20px;
     }
 
    .flex-container.about-me {
     display: flex;
     gap: 100px;
     flex-direction: row;
     justify-content: center;
     margin: 0px 20px 50px 20px;
    }
 
    .text {
     text-align: left;
     font-size: 20px;
     font-weight: 300;
     width: 350px;
    }

    .lists li, .lists {
     text-align: left;
    }

    .lists li {
     list-style: disc;
    }

    .container.flexbox {
     gap: 60px;
     flex-direction: row;
     text-align: left;
    }

    .container.flexbox li {
     list-style: disc;
     text-align: left;
    }

    .photoshop-gallery {
     flex-direction: row;
     align-items: center;
     gap: 30px;
     margin-bottom: 50px;
    }
 
    .work-gallery {
     display: flex;
     flex-direction: row;
    } 
 
    .column {
     width: 250px;
    }
 
 footer {
     width: 100%;
 }
 
 .copyright {
     margin-bottom: 20px;
 }

 .button {
     display: inline-flex;
     flex-direction: row;
     margin: 0px 10px 0px 10px;
 }
}







   
